@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(lib/normalize.7.0.0.css);
.hide-on-desktop,
.responsive-only,
.tablet-only,
.mobile-only {
  display: none !important; }

.desktop-only,
.hide-on-responsive,
.hide-on-tablet,
.hide-on-mobile {
  display: inherit; }

@media only screen and (max-width: 1023px) {
  .responsive-only,
  .tablet-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-tablet {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .responsive-only,
  .mobile-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-mobile {
    display: none !important; } }

.row:before, .wrapper:before, .row:after, .wrapper:after {
  content: ' ';
  display: table; }

.row:after, .wrapper:after {
  clear: both; }

body {
  padding: 40px;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif; }

.row {
  width: 100%;
  clear: both; }

.wrapper {
  width: 100%;
  max-width: 1264px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  clear: both; }

/* Grid */
.col {
  flex-basis: 100%; }

@media screen and (min-width: 800px) {
  .flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .col {
    flex: 1; }
  ._25 {
    flex: 2.5; }
  ._5 {
    flex: 5; } }

.block {
  border: 1px solid #004d99;
  padding: 16px;
  margin: 16px;
  height: 450px; }

.block ul {
  padding-left: 16px; }

.option {
  list-style: none;
  margin: 0;
  padding: 0; }

.option:after {
  content: "";
  clear: both; }

.option__select label {
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap; }

.option input:focus + label {
  outline: 2px dotted #21b4d0; }

.option input:checked + label {
  outline: 4px solid #21b4d0; }

.option input:checked + label:after {
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  right: -10px;
  width: 20px; }

@-moz-document url-prefix() {
  .option input:checked + label:after {
    bottom: 0;
    right: 0;
    background-color: #21b4d0; } }
