//mobile first
.title{
    text-align: center;
    color:$blue;
    font-family:$roboto-slab;
    font-size:24px;
    .title_bold{
        font-weight:bold;
    }
}

.block{
    border:1px solid $blue;
    padding:$lg-spacing;
    margin:$lg-spacing;
    height:450px;
    .block__title{
        font-weight:bold;
        font-size:16px;
        color:$blue-light;
        text-align: center;
    }
}

.block{
    ul{
        padding-left:$lg-spacing;
        list-style: none;
        li{
            margin-bottom:$lg-spacing;
        }
        li::before{
            content:"•";
            color:grey;
            display:inline-block;
            width:1em;
            margin-left:-1em;
        }
    }
}

@media only screen and (min-width: $small-desktop) {

    .title{
        font-size:30px;
    }
    
}