.content_tab2 {
    background-color: $white;
    padding: $lg-spacing;
    margin-top:$bg-spacing;
    border: 1px solid $grey-light;
    border-radius: 3px;
    padding-top: 4px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    .content_tab2__block {
        position: relative;
        padding-bottom: $lg-spacing;
    }
    .txt_sm {
        padding-left: $lg-spacing;
    }
    .col {
        padding-right: $lg-spacing;
        padding-left: $lg-spacing;
    }
    .title {
        color: $blue-lighter;
        font-size: 24px;
        text-align: left;
        &:before {
            display: inline-block;
            content: url('../img/angle-down-blue.svg');
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            padding-right:$lg-spacing;
            padding-left:$lg-spacing;
        }
    }
    ul {
        font-size: 14px;
        color: $grey;
        line-height: 22px;
    }
    .tab2__title {
        font-size: 18px;
        font-weight: bold;
        font-family: $roboto-slab;
        color: $blue;
    }
    .tab2__text {
        font-size: 14px;
        color: $grey;
        line-height: 22px;
    }
    .tab2__link {
        font-size: 14px;
        font-weight: bold;
        color: $blue-lighter;
        text-decoration: none;
        position: inherit;
        bottom: $lg-spacing;
        &.nav:after {
            display: inline-block;
            content: url('../img/angle-down-blue.svg');
            position: relative;
            top: $sm-spacing;
            padding-left: $lg-spacing;
        }
    }
    .flex-grid {
        &.border_grey {
            position: relative;
        }
    }
    .content_tab2__note {
        display: inline-block;
        font-size: 14px;
        color: $blue;
    }
    .content_tab2__adv{
        font-size:12px;
        letter-spacing:1.52px;
        background:$red;
        color:$white;
        padding:$sm-spacing;
    }
}

.grid-custom {
    width: 90%;
    margin: 0 auto;
}

.img {
    width: 100%;
    height: auto;
}

.border_grey {
    border: 1px solid $grey-light;
}

@media only screen and (min-width: $small-desktop) {
    .content_tab2 {
        .col {
            padding-bottom: $lg-spacing;
        }
        .tab2__link {
            position: absolute;
        }
    }
    .content_tab2__note {
        display: inline-block;
        padding-left: $bg-spacing;
    }
    .content_tab2__adv{
        float:right;
    }
}