//mobile first
.block{
    border:1px solid $border-block;
    padding:$lg-spacing;
    margin:$lg-spacing;
    height:450px;
}

.block{
    ul{
        padding-left:$lg-spacing;
        list-style: none;
        li::before{
            content:"•";
            color:grey;
            display:inline-block;
            width:1em;
            margin-left:-1em;
        }
    }
}

@media only screen and (min-width: $small-desktop) {

}