/* Grid flex-box*/

.col {
  flex-basis: 100%;
}

@media screen and (min-width: $mobile) {
  .flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .col {
    flex: 1;
  }
  ._2{
    flex:2;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}