body {
    background-color: #fafafa;
    font-family:$roboto;
    padding:0;
  }
  
  .row {
    width: 100%;
    clear: both;
    @extend %clearfix; 
  }
  
  .wrapper {
    width: 100%;
    max-width: $medium-desktop;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    @extend %clearfix;
  }

  .content{
    background-color:$grey-light;
    box-shadow: 0px 2px $grey;
    border-radius:3px;
    padding-top:$sm-spacing;
  }
  .title_bold:after{
    content:url('../img/star-orange.svg');
    padding-left: 8px;
  }
 
  @media only screen and (min-width: $small-desktop) {
  
     
  }